p.jiba { color: red; }
p { color: green; }
body{
	font-family: "Indie Flower", sans-serif;
}
div{
	/*border-radius: 381px 167px 400px 212px / 127px 42px 145px 96px;*/
	border: 10px solid rebeccapurple;
	position: relative;
	width: 400px; height: 150px;
	transform: rotate(0.25turn);
}
div:before {
	content: "";	position: absolute;	width: 300px;	height: 100px;	top: 45px;	left: 217px;	z-index: -1;	background-color: #FFFFFF;
}
li{
	list-style-type: lower-latin;
}
li em{color: #007000}


body{background-color: darkcyan}
@media (min-width: 100em) {
	background-color: #cccccc;
}
